@font-face {
  font-family: "Apostrof-Regular";
  src: local("Apostrof-Regular"), url("/fonts/Apostrof-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Inter-Variable";
  src: local("Inter-Variable"), url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter-Variable, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}